<header class='top-header'>
  <div class='top-header-left'>
    <%= link_to image_tag('sokuconne_logo.png', class:'sokuconne-icon'), '/' %>
  </div>
  <div class='top-header-right'>
    <ul class='user-info'>
      <li>株式会社hoge</li>
      <li>fuga山hoge太郎</li>
      <li><%= link_to 'ログアウト', method: :delete, class: 'logout' %></li>
    </ul>
  </div>
</header>