<div class='all-information'>
  <div class='information-contents'>
    【重要なお知らせ】
    <div class='information-contents__impotrant-contents'>
      <div class='information-contents__important-contents--content'>
        2020/9/10 当該アプリのアップデートが行われました。（Ver.0.2）
        <br>※配置確認のための仮置き
      </div>
    </div>
  </div>
  <div class='information-contents'>
    【新着通知】
    <div class='information-contents__new--contents'>
      <div class='information-contents__new-contents--content'>
        2020/9/10 Q&Aリストが更新されました。
        <br>※配置確認のための仮置き
      </div>
      <div class='information-contents__new-contents--content'>
        2020/9/8  プロジェクトAに新たなメッセージが届きました。
        <br>※配置確認のための仮置き
      </div>
    </div>
  </div>
</div>