<div class='qas-list__qa-contents__qa'>
  <div class='qa-no'>
    <%= qa.no %>
  </div>
  <div class='qa-category'>
    <%= qa.category %>
  </div>
  <div class='qa-question'>
    <%= qa.question %>
  </div>
  <div class='qa-answer'>
    <%= qa.answer %>
  </div>
</div>