<%= render 'shared/header'%>
<div class='wrapper'>
  <div class='side-bar'>
    <%= render 'shared/side_bar' %>
  </div>
  <div class='info'>
    <%= render partial: 'search_form' %>
    <div class='qas-list'>
      <div class='qas-list__qa-contents'>
        <%= render partial: 'qa', collection: @qas %>
      </div>
    </div>
  </div>
</div>