// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message_space span {
  font-size: 20px;
  font-weight: bold;
}

.message_space__message-contents {
  height: 78vh;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0 0;
  overflow: scroll;
}