.wrapper {
  display: flex;
}
.side-bar {
  background-color: #4d5a64;
  width: 250px;
  height: calc(100vh - 61px);
  padding: 10px 15px;
  overflow: scroll;
}

.menu {
  max-width: 600px;
}

.menu a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

.menu label {
  display: block;
  margin: 4px 0;
  padding: 15px;
  line-height: 1px;
  color :#fff;
  background : #4d5a64;
  cursor :pointer;
}

.menu label:hover {
  opacity: 0.7;
  background-color: #535f68;
}

.menu input {
  display: none;
}

.menu ul {
  margin: 0;
  padding: 0;
  background :#57646d;
  list-style: none;
}

.menu li {
  height: 0;
  border-bottom: 1px solid #4d5a64;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#menu_bar01:checked ~ #links01 li,
#menu_bar02:checked ~ #links02 li {
  height: 54px;
  opacity: 1;
}

.info {
  background-color: #f5f8fc;
  width: calc(100% - 250px);
  padding: 20px;
}

.information-contents {
  height: 42vh;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  overflow: scroll;
}

.information-contents__important-contents,
.information-contents__new-contents {
  width: 80%;
}

.information-contents__important-contents--content,
.information-contents__new-contents--content {
  margin: 10px 0 10px 15px;
}

h1 {
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  color: #f05050;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.project-wrapper{
  background-color: #f5f8fc;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
}

.project-form {
  width: 980px;
  height: 45vh;
  padding: 40px;
  margin-top: 60px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
.project-form__errors {
  margin: 30px 0;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
}
.project-form__label {
  display: block;
  line-height: 50px;
  font-weight: bold;
  text-align: right;
}
.project-form__input {
  float: left;
  width: 100%;
  line-height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
}
.project-form__action-btn {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  background-color: #38aef0;
  border: 0;
}
.project-form__field {
  margin-top: 30px;
}
.project-form__field:after {
  content: "";
  clear: both;
  display: block;
}
.project-form__field--left {
  float: left;
  width: 30%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
.project-form__field--right {
  float: right;
  width: 70%;
}

.project-user {
  padding: 0 15px;
  line-height: 50px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  width: 500px;
  margin: 0 auto;
}
.project-user:after {
  content: "";
  clear: both;
  display: block;
}
.project-user__name {
  float: left;
}
.project-user__btn {
  display: inline-block;
  cursor: pointer;
}
.project-user__btn--add {
  color: #38aef0;
}
.project-user__btn--remove {
  color: #f05050;
}

.project-user__name a {
  text-decoration: none;
  color: #38aef0;
}

select {
  width: 500px;
  height: 50px;
}

.top-header {
  background-color: #434a54;
  height: 80px;
  width: 100%;
}

.field_with_errors{
  display: contents;
}