// Place all the styles related to the qas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.qas-list__qa-contents {
  height: 83vh;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0 0;
  overflow: scroll;
}

.qas-list__qa-contents--qa {
  padding: 0 10px;
  margin-bottom: 10px;
  border: 1px solid #ebf1f8;
  border-radius: 10px;
}

.qas-list__qa-contents--qa-content {
  display: flex;
  padding: 2px 4px;
}

.qa-list-import, .qa-list-export {
  width: 80%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}

.qa-list-import span, .qa-list-export span {
  font-weight: bold;
}

.qa-list-import__form, .qa-list-export__form {
  margin-top: 20px;
}